@font-face {
    font-family: "font";
    src: url("/Norse-Bold.otf");
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;

}

.side{
    width: 35vw;
    height: 100vh;
    background-image:url("halie-west-25xggax4bSA-unsplash.jpg") ;
    background-size: cover;
}
.Title{
    height: 120px;
    width: 35vw;
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    display: flex;
    font-family: 'font', Courier, monospace;
    font-size: 100px;
    font-weight: 100;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
}
.Title > img{
    width: auto;
    height: 100px;
}
.form-inputs{
    width: 65vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.form-title{
    width: 80%;
    font-size: 30px;
    font-weight: 900;
    margin-left: 3vw;
}
.form-title.one{
    margin-top: 100px;
    margin-left: 3vw;
}

.form-title.two{
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 3vw;
}
.inputs{
    box-shadow: 0 -5px 5px rgb(223, 223, 223),0 5px 5px rgb(223, 223, 223);
    height: 35vh;

    
}
.form-title.three{
    color: rgb(73, 73, 73);
    margin-left: 3vw;
    margin-top: 30px;
}
.coloms{
    display: flex;
    width: 50vw;
    height: 30vh;
}
.colom.right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 27vw;
    margin-left: 3vw;
}
.colom div{
    margin: 0;
}
.group{
    display: flex;
    flex-direction: column;
}
.colom.left{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    width: 27vw;
    margin-left: 6vw;
}
label{
    font-size: 20px;
    color: rgb(73, 73, 73);
    margin-bottom: 7px;
}
input:focus{
    outline: 2px solid rgb(0, 123, 194);
}
input{
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid rgb(214, 214, 214);
    padding: 4px;
}
input[type="password"]{
    outline: 2px solid rgb(199, 49, 49);
}

button{
    margin-left: 40px;
    margin-top: 30px;
    background-color: #596D48;
    width: 200px;
    height: 40px;
    color: aliceblue;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
    border: 0;
}
.footer{
    font-size: 20px;
    font-weight: 300;
    color: rgb(48, 48, 48);
    margin-left: 40px;
    margin-top: 35px;
}
a{
    color:  #596D48;
    text-decoration: none;
}




